.autocomplete-bar {
  width: 30%;
  text-align: center;
  padding-left: 30rem;
  padding-top: 15rem;
}
.btn {
  padding: 0.5rem 2rem;
  margin-left: 37rem;
  margin-top: 5rem;
  background-color: #037fff;
  outline: none;
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  letter-spacing: 2px;
}

h2 {
  font-family: inherit;
  text-align: center;
  margin-top: 2rem;
}
